%%-*- mode: erlang -*-
%%==============================================================================
%% Copyright 2013 Jan Henry Nystrom <JanHenryNystrom@gmail.com>
%%
%% This file is part of jhn_stdlib_props.
%%
%% jhn_stdlib_props is free software: you can redistribute it and/or modify
%% it under the terms of the GNU General Public License as published by
%% the Free Software Foundation, either version 3 of the License, or
%% (at your option) any later version.
%%
%% jhn_stdlib_props is distributed in the hope that it will be useful,
%% but WITHOUT ANY WARRANTY; without even the implied warranty of
%% MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
%% GNU General Public License for more details.
%%
%% You should have received a copy of the GNU General Public License
%% along with jhn_stdlib_props.  If not, see <http://www.gnu.org/licenses/>.
%%==============================================================================

{deps_dir, "deps"}.

{deps, [
        {proper, ".*",
         {git, "https://github.com/manopapad/proper.git", "master"}},
        {jhn_stdlib, ".*",
         {git, "https://github.com/JanHenryNystrom/jhn_stdlib.git", "master"}}
       ]}.

%{erl_opts, [debug_info, fail_on_warning]}.
{xref_checks, [undefined_function_calls]}.

%% == EUnit ==

%% Options for eunit:test()
{eunit_opts, [verbose]}.

%% %% Whether to enable coverage reporting.
{cover_enabled, true}.

%% %% Whether to print coverage report to console.
{cover_print_enabled, true}.
